/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}
*/
/* End for testing */
body {
  background-color: lightgray;
}
.container {
  width: 98%;
  margin: 0 auto;
}
.logo, .nav{
  display: inline-block;
  width: 40%;
  height: 5%;
  /*float: left;*/
  background-color: rgba(0, 0, 0, 0.8);
}
.logo {
  float: left;
}
.main {
  width: 100%;
  height: 20%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}
.secondary {
  margin-top: 10%;
}
.gallery {
  background-color: rgba(0, 0, 0, 0.8);
  height: 25vw;
  width: 25vw;
  display: inline-block;
  float: left;
  display: none;
}
.secondary p, .secondary h2 {
  display: inline-block;
  width: 100%;
  margin: 0;
}

/*Media Queries*/
@media screen and (max-width: 969px) {
  .secondary:nth-child(odd) .gallery {
  float: right;
  }
}
@media screen and (min-width: 540px) {
  .logo , .nav {
    width: 30%;
  }
  .secondary p, .secondary h2 {
    width: 70%;
  }
  .secondary {
    margin-top: 15%;
  }
  .gallery {
    display: inline-block;
  }
  .secondary:nth-child(even) p,.secondary:nth-child(even) h2 {
  margin-left: 2%;
}
}
@media screen and (min-width: 970px) {
  #wrap {
    width: 96%;
    margin: 0 auto;
    min-height: 5%;
  }
  .nav {
    float: right;
  }
  .main {
    width: 96%;
  }
  .secondary {
    width: 32%;
    display: inline-block;
    margin-top: 20px;
  }
  .gallery {
    float: none;
    width: 50%;
    height: 25%;
  }
  .secondary p, .secondary h2 {
    width: 100%;
    margin-top: 20px;
  }
  .wrap {
    margin: 0 auto;
    text-align: center;
  }
}